{{outlet}}

{{#unless isEditing}}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">is? Client: {{ name }}</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                <ul class="definitions">
                    <li>
                        <h6>Contact</h6>
                        <span>{{ contact }}</span>
                    </li>
                    <li>
                        <h6>Email</h6>
                        <span>{{ email }}</span>
                    </li>
                    <li>
                        <h6>Rate</h6>
                        <span>{{ rate }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="definitions">
                    <li>
                        <h6>Address 1</h6>
                        <span>{{ address1 }}</span>
                    </li>
                    <li>
                        <h6>Address 2</h6>
                        <span>{{ address2 }}</span>
                    </li>
                    <li>
                        <h6>City</h6>
                        {{view Ember.TextArea value=model.city}}
                    </li>
                    <li>
                        <h6>State</h6>
                        {{view Ember.Select content=Cheddar.Client.STATES value=model.state}}
                    </li>
                    <li>
                        <h6>Zip</h6>
                        <span>{{ zip }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-sm-offset-6">
                <ul class="definitions">
                    <li>
                        <h6>Created</h6>
                        <span>{{ created_at }}</span>
                    </li>
                    <li>
                        <h6>Updated</h6>
                        <span>{{ updated_at }}</span>
                    </li>
                </ul>
            </div>
            {{#link-to 'client.edit' model }}edit{{/link-to}}
            {{input type='submit' value='Save Changes' click='saveChanges'}}
            <button {{action "saveChanges"}}> ok</button>
            {{#if isSaving}}
                saving...
            {{/if}}
            {{#if showUnsavedMessage}}
                unsaved
            {{/if}}
        </div>
    </div>
{{/unless}}