<%= form_for @entry do |f| %>

    <% if @entry.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@entry.errors.count, "error") %> prohibited
            this entry from being saved:</h2>
          <ul>
            <% @entry.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :task_id %>
      <%= collection_select(:entry, :task_id, @tasks, :id, :name) %>
    </div>

    <div class="form-group">
      <%= f.label :qty %>
      <%= f.text_field :qty %>
    </div>

    <div class="form-group">
      <%= f.label :rate %>
      <%= f.text_field :rate %>
    </div>

    <div class="form-group">
      <%= f.label :done_at %>
      <%= date_field_tag('entry[done_at]', Time.now.strftime('%Y-%m-%d')) %>
    </div>

<% end %>