<% content_for :crumbs do %>
    <%= render 'crumb_all' %>
    <%= render 'crumb_one', object: @entry %>
    <li class="pull-right"><%= ibtn_link_to('edit', edit_entry_path(@entry)) %></li>
<% end %>

<dl class="dl-horizontal">
  <dt>Id</dt>
  <dd><%= @entry.id %></dd>
  <dt>Task</dt>
  <dd><%= @entry.task %></dd>
  <dt>Qty</dt>
  <dd><%= @entry.qty %></dd>
  <dt>Rate</dt>
  <dd><%= @entry.rate %></dd>
  <dt>Done At</dt>
  <dd><%= @entry.done_at %></dd>
</dl>