<% content_for :crumbs do %>
    <%= render 'crumbs' %>
    <li class="pull-right"><%= ibtn_link_to('add', new_invoice_path) %></li>
<% end %>

<div class="table-responsive">
  <table class="index">
    <tr>
      <th>Id</th>
      <th>Client</th>
      <th>Total</th>
      <th>Ends At</th>
      <th>Paid</th>
      <th></th>
    </tr>

    <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.id %></td>
          <td><%= invoice.client %></td>
          <td><%= number_to_currency(invoice.total) %></td>
          <td><%= invoice.ends_at.strftime('%m/%d/%Y') %></td>
          <td><%= invoice.paid ? 'Yes' : '' %></td>
          <td class="action">
            <div class="dropdown btn-group">
              <a href="<%= invoice_path(invoice) %>" class="btn">OPEN</a>
              <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <%= render 'invoices/crumb', invoice: invoice %>
            </div>
          </td>
        </tr>
    <% end %>

  </table>
</div>