<% content_for :crumbs do %>
    <%= render 'crumbs' %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @invoice %> <span class="caret"></span></a>
      <%= render 'crumb', invoice: @invoice %>
    </li>
    <li class="pull-right"><%= ibtn_link_to('edit', edit_invoice_path(@invoice)) %></li>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Invoice</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">
      <ul class="definitions">
        <li>
          <h6>Client</h6>
          <span><%= link_to(@invoice.client, client_path(@invoice.client)) %></span>
        </li>
        <li>
          <h6>Starts At</h6>
          <span><%= l @invoice.starts_at %></span>
        </li>
        <li>
          <h6>Ends At</h6>
          <span><%= l @invoice.ends_at %></span>
        </li>
        <li>
          <h6>Total</h6>
          <span><%= number_to_currency(@invoice.total) %></span>
        </li>
        <li>
          <h6>Paid</h6>
          <span><%= @invoice.paid ? 'Yes' : 'No' %></span>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="definitions">
        <li>
          <h6>Created</h6>
          <span><%= l @invoice.created_at %></span>
        </li>
        <li>
          <h6>Updated</h6>
          <span><%= l @invoice.updated_at %></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Entries</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="invoice entries panel">
        <tr>
          <th>Project</th>
          <th>Task</th>
          <th>Rate</th>
          <th>Qty</th>
          <th>Total</th>
          <th>Done At</th>
          <th></th>
        </tr>
        <%= render @invoice.entries %>
        <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><%= @qty %></td>
          <td><%= number_to_currency(@total) %></td>
          <td></td>
          <td></td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>