<% content_for :crumbs do %>
    <%= render 'crumb_all' %>
    <%= render 'crumb_one', object: @invoice %>
    <li class="pull-right"><%= ibtn_link_to('edit', edit_invoice_path(@invoice)) %></li>
<% end %>

<dl class="dl-horizontal">
    <dt>Id</dt>
    <dd><%= @invoice.id %></dd>
    <dt>Client</dt>
    <dd><%= @invoice.client %></dd>
</dl>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Project</th>
      <th>Task</th>
      <th>Hours</th>
      <th>Rate</th>
      <th>Done At</th>
      <th></th>
    </tr>

    <% @invoice.entries.each do |entry| %>
        <tr>
          <td><%= entry.task.project %></td>
          <td><%= entry.task %></td>
          <td><%= entry.hours %></td>
          <td><%= entry.rate %></td>
          <td><%= entry.done_at.strftime('%m/%d/%Y') %></td>
          <td><%= ibtn_link_to('OPEN', entry_path(entry)) %></td>
        </tr>
    <% end %>

  </table>
</div>