<%= form_for @task do |f| %>

<% if @task.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited
        this task from being saved:</h2>
    <ul>
        <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= f.label :project_id %>
    <%= collection_select(:task, :project_id, @projects, :id, :name) %>
</div>

<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<% end %>