<% content_for :crumbs do %>
    <%= render 'crumbs' %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @task.name %> <span class="caret"></span></a>
      <%= render 'crumb', task: @task %>
    </li>
    <li class="pull-right"><%= ibtn_link_to('edit', edit_task_path(@task)) %></li>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Task: <%= @task.name %></h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">
      <ul class="definitions">
        <li>
          <h6>Client</h6>
          <span><%= link_to(@task.project.client, client_path(@task.project.client)) %></span>
        </li>
        <li>
          <h6>Project</h6>
          <span><%= link_to(@task.project, project_path(@task.project)) %></span>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="definitions">
        <li>
          <h6>Created</h6>
          <span><%= l @task.created_at %></span>
        </li>
        <li>
          <h6>Updated</h6>
          <span><%= l @task.updated_at %></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Entries</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-12">
      <%= form_for [@entry], html: {class: "form-inline get-json"} do |f| %>
          <input type="hidden" name="entry[task_id]" value="<%= @task.id %>"/>
          <div class="form-group">
            <%= f.text_field :qty, :placeholder => 'qty' %>
          </div>
          <div class="form-group">
            <%= f.text_field :rate, :value => @task.project.client.rate %>
          </div>
          <div class="form-group">
            <%= date_field_tag('entry[done_at]', Time.now.strftime('%Y-%m-%d')) %>
          </div>
          <button type="submit" class="btn"><i class="i-add"></i> <span>add</span></button>
      <% end %>
    </div>
    <table class="task entries panel">
      <tr>
        <th>Invoice</th>
        <th>Rate</th>
        <th>Qty</th>
        <th>Total</th>
        <th>Done At</th>
        <th></th>
      </tr>
      <%= render @task.entries %>
    </table>
  </div>
</div>