<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Client: {{ name }}</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-6">
            <h3>edit</h3>
            <div class="client-edit">
                <label>Client name</label>
                {{input value=name}}

                <label>Client email</label>
                {{input value=email}}
            </div>

            <button {{action "saveChanges"}}> ok </button>
            <button {{action "cancel"}}> cancel </button>
        </div>
    </div>
</div>
