<% content_for :crumbs do %>
    <%= render 'crumbs' %>
    <li class="pull-right"><%= ibtn_link_to('add', new_user_path) %></li>
<% end %>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td class="action"><%= ibtn_link_to('OPEN', user_path(user)) %></td>
        </tr>
    <% end %>

  </table>
</div>