<ul class="dropdown-menu" role="menu">
  <li><%= ilink_to('Edit', edit_client_path(client)) %></li>
  <li class="divider"></li>
  <li><a href="<%= projects_path %>?client_id=<%= client.id %>"><i class="i-list"></i>Projects</a></li>
  <li><a href="<%= tasks_path %>?client_id=<%= client.id %>"><i class="i-list"></i>Tasks</a></li>
  <li><a href="<%= entries_path %>?client_id=<%= client.id %>&invoiced=no"><i class="i-list"></i>Entries</a></li>
  <li><a href="<%= invoices_path %>?client_id=<%= client.id %>"><i class="i-list"></i>Invoices</a></li>
  <li><a href="<%= payments_path %>?client_id=<%= client.id %>"><i class="i-list"></i>Payments</a></li>
  <li class="divider"></li>
  <li><%= ilink_to_destroy(client_path(client)) %></li>
</ul>