<%= link_to 'New client', new_client_path %>
<div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Rate</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <% @clients.each do |client| %>
        <tr>
            <td><%= client.id %></td>
            <td><%= client.name %></td>
            <td><%= client.contact %></td>
            <td><%= client.email %></td>
            <td><%= client.rate %></td>
            <td><%= link_to 'Show', client_path(client) %></td>
            <td><%= link_to 'Edit', edit_client_path(client) %></td>
            <td><%= link_to 'Destroy', client_path(client),
                method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
        <% end %>
    </table>
</div>