<p>
    <strong>Name:</strong>
    <%= @client.name %>
</p>

<p>
    <strong>Contact:</strong>
    <%= @client.contact %>
</p>

<p>
    <strong>Email:</strong>
    <%= @client.email %>
</p>

<p>
    <strong>Rate:</strong>
    <%= @client.rate %>
</p>

<h2>Projects</h2>
<%= render @client.projects %>

<h2>Add a project:</h2>
<%= render "projects/form" %>

<%= link_to 'Back', clients_path %> | <%= link_to 'Edit', edit_client_path(@client) %>