<% content_for :crumbs do %>
    <%= render 'crumb_all' %>
    <%= render 'crumb_one', object: @client %>
    <li class="pull-right"><%= ibtn_link_to('edit', edit_client_path(@client)) %></li>
<% end %>

<dl class="dl-horizontal">
    <dt>Id</dt>
    <dd><%= @client.id %></dd>
    <dt>Name</dt>
    <dd><%= @client.name %></dd>
    <dt>Contact</dt>
    <dd><%= @client.contact %></dd>
    <dt>Email</dt>
    <dd><%= @client.email %></dd>
    <dt>Rate</dt>
    <dd><%= @client.rate %></dd>
</dl>