<% content_for :crumbs do %>
    <%= render 'crumbs' %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @payment %> <span class="caret"></span></a>
      <%= render 'crumb', payment: @payment %>
    </li>
    <li class="pull-right"><%= ibtn_link_to('edit', edit_payment_path(@payment)) %></li>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">payment</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">
      <ul class="definitions">
        <li>
          <h6>Client</h6>
          <span><%= link_to(@payment.client, client_path(@payment.client)) %></span>
        </li>
        <li>
          <h6>Total</h6>
          <span><%= number_to_currency(@payment.total) %></span>
        </li>
        <li>
          <h6>Paid</h6>
          <span><%= @payment.paid_at ? 'Yes' : 'No' %></span>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="definitions">
        <li>
          <h6>Created</h6>
          <span><%= l @payment.created_at %></span>
        </li>
        <li>
          <h6>Updated</h6>
          <span><%= l @payment.updated_at %></span>
        </li>
      </ul>
    </div>
  </div>
</div>