<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Client</h3>
    </div>
    <div class="panel-body">

        <div class="col-sm-6">

            <div class="form-group">
                <label for="client_name">Name</label>
                {{input value=fields.name}}
            </div>

            <div class="form-group">
                <label for="client_contact">Contact</label>
                {{input value=fields.contact}}
            </div>

            <div class="form-group">
                <label for="client_email">Email</label>
                {{input value=fields.email}}
            </div>

            <div class="form-group">
                <label for="client_rate">Rate</label>
                {{input value=fields.rate}}
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="client_address1">Address1</label>
                {{input value=fields.address1}}
            </div>

            <div class="form-group">
                <label for="client_address2">Address2</label>
                {{input value=fields.address2}}
            </div>

            <div class="form-group">
                <label for="client_city">City</label>
                {{input value=fields.city}}
            </div>

            <div class="form-group">
                <label for="client_state">State</label>
                {{input value=fields.state}}
            </div>

            <div class="form-group">
                <label for="client_zip">Zip</label>
                {{input value=fields.zip}}
            </div>
        </div>

        <button class="btn" {{action "cancel"}}><i class="i-cancel"></i> CANCEL</button>
        <button class="btn" {{action "create"}}><i class="i-save"></i> SAVE</button>
        {{#if isSaving}}<i class="i-saving"></i>{{/if}}
        {{#if showUnsavedMessage}}<i class="i-unsaved"></i>{{/if}}
    </div>
</div>
